@model A1.Models.Theater

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Theater</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TheaterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheaterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Theater_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
