@model A1.Models.Screen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Screen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.No_of_Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_Seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Current_Movie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Current_Movie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThreeD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThreeD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theater.TheaterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theater.TheaterName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Screen_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
